name: CI - Lint & Build

on:
  workflow_dispatch: {}
  pull_request:
  push:
    branches: [ ${{ vars.DEFAULT_BRANCH || 'main' }} ]

jobs:
  ci:
    uses: CESActions/testdeployment/.github/workflows/reusable-apigee-ci.yml@${{ vars.TESTDEPLOYMENT_REF || 'main' }}
    with:
      apigee_org: ${{ vars.APIGEE_ORG }}
      gcp_project_id: ${{ vars.GCP_PROJECT_ID }}
      gcp_project_number: ${{ vars.GCP_PROJECT_NUMBER }}
      gcp_wif_provider: ${{ vars.GCP_WIF_PROVIDER }}
      gcp_service_account: ${{ vars.GCP_SA_EMAIL }}
      proxy_dir: ${{ vars.APIGEE_PROXY_DIR || './apiproxy' }}
