name: Deploy

on:
  workflow_dispatch:
    inputs:
      target:
        description: "Environment to deploy"
        required: true
        default: "test-env"
        type: choice
        options: [ "test-env", "prod" ]

jobs:
  deploy:
    uses: CESActions/testdeployment/.github/workflows/reusable-apigee-deploy.yml@main
    with:
      apigee_org: studied-radar-485917
      gcp_project_id: studied-radar-485917
      gcp_project_number: "65933607877"
      gcp_wif_provider: projects/65933607877/locations/global/workloadIdentityPools/gh-pool/providers/github
      gcp_service_account: gh-actions-apigee@studied-radar-485917.iam.gserviceaccount.com
      proxy_name: helloworld             # (api1) or helloworldjava (api2)
      proxy_dir: ./apiproxy
      test_environment: test-env
      prod_environment: prod
